{% load staticfiles %}

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />

<html>
  <head>
    <title>Jabs Blog</title>
  </head>
  <body>
    <div class="blog">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Jabs Blog</a>
          </div>
        </div>
      </div>

      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
