{% extends 'base.html' %}

{% block content %}

  <div class="panel">
    <div class="page-header">
      <h1>{{post.title}}</h1>
    </div>
    <p class="">
      {{post.content}}
    </p>
  </div>

  <div class="comments panel panel-default">
    <h4 class="panel-heading">Comentários:</h4>
    <table class='table table-striped'>
      <tr class='name'>
        <th>
          <strong>Nome</strong>
        </th>
        <th>
          <strong>Comentário</strong>
        </th>
      </tr>
      {% for comment in post.comment_set.all %}
      <tr>
        <td>
          <strong>{{comment.name}}</strong>
        </td>
        <td>
          {{comment.text}}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>



  <h4>Adicione um comentário:</h4>
  <form action="{% url 'comment' post.id %}" method="post" role="form">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Nome:</label>
      <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
      <label for="name">Comentário:</label>
      <textarea name="text" cols="40" rows="10" class="form-control"></textarea>
    </div>
    <input class="btn btn-default" type="submit" value="Postar Comentário" />
  </form>

{% endblock %}