{% extends 'base.html' %}

{% block content %}
  {% if post_list %}
      <div class="post">
      {% for post in post_list %}
          <a href="{% url 'detail' post.id %}"><h3>{{post.title}}</h3></a>
          <div class="text">{{post.content}}</div>
      {% endfor %}
      </div>
  {% else %}
      <div>Não existem Posts no blog ):</div>
  {% endif %}
{% endblock %}

